  <header class="bg-black text-white px-4 sm:px-8 py-4 flex items-center justify-between shadow-lg w-full">

      <div class="flex items-center gap-2">
        <span class="text-2xl sm:hidden">🎯</span>
        <span class="hidden sm:block text-2xl font-bold tracking-widest uppercase">eLenger</span>
      </div>

      <!-- Nav desktop -->
      <nav class="hidden sm:flex gap-6 text-sm font-medium">
        <a href="#" class="hover:text-red-400 transition-colors">Home</a>
        <a href="#" class="hover:text-red-400 transition-colors">Events</a>
        <a href="#" class="hover:text-red-400 transition-colors">About</a>
      </nav>

      <button
        class="sm:hidden flex flex-col gap-1.5 p-2"
        (click)="toggleMenu()"
        aria-label="Toggle menu"
      >
        <span class="block w-6 h-0.5 bg-white transition-all duration-300"
          [class.rotate-45]="isOpen()" [class.translate-y-2]="isOpen()"></span>
        <span class="block w-6 h-0.5 bg-white transition-all duration-300"
          [class.opacity-0]="isOpen()"></span>
        <span class="block w-6 h-0.5 bg-white transition-all duration-300"
          [class.-rotate-45]="isOpen()" [class.-translate-y-2]="isOpen()"></span>
      </button>
    </header>

<div
  *ngIf="isOpen()"
  class="sm:hidden fixed top-[57px] left-0 right-0 bg-black text-white flex flex-col px-6 py-4 gap-4 text-sm font-medium shadow-lg z-50 items-center"
>
  <a href="#" class="border border-red hover:text-red-400 transition-colors" (click)="toggleMenu()">Home</a>
  <a href="#" class="hover:text-red-400 transition-colors" (click)="toggleMenu()">Events</a>
  <a href="#" class="hover:text-red-400 transition-colors" (click)="toggleMenu()">About</a>
</div>